include mixins/_nav
doctype html(lang='en')

head
    title TODO
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet")
    link(href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Required for Previews and Experiments
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")
    script(src="/javascript/vendors/highlight.min.js")

body
    .grid
        .sidebar
            img.img-round.avatar(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg", alt="")
            h1.title Chris Elias
            h2 Full Stack Developer
            .social
                a(href="#")
                    i.fa.fa-linkedin
                a(href="#")
                    i.fa.fa-github
                a(href="#")
                    i.fa.fa-twitter
                a(href="#")
                    i.fa.fa-behance
            a.btn.hire-me.block(href="#") Hire Me
            .contact.hidden-tablet
                h2 Contact Info
                p How to get a hold of me
                hr 
                a(href="")
                    i.fa.fa-envelope
                    | chris@chriselias.com 
                a(href="")
                    i.fa.fa-mobile-phone
                    | 708.860.9914 
                a(href="")
                    i.fa.fa-twitter
                    | @chriselias
                a(href="")
                    i.fa.fa-envelope
                    | My Resume
        .main
            +nav()
            block body
