@import "reset";
@import "variables";
@import "sidebar";
@import "projects";




html { font-size: 14px; }

body {
    background-color: $white;
    font-family: $sans-serif;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
    padding: .5em 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.grid {
    max-width: 1400px;
    //margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    

    @media screen and(min-width: $tablet-width)   {
        grid-template-columns: 400px 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
    }
}


.main {
    max-height: 100vh;
    overflow-y: scroll;
    padding: 5em;
}

.img-round {
    border-radius: 50%;
}


.title {
    font-family: $serif;
}

.btn {
    background-color: $primary;
    margin: 1em 0;
    color: $white;
    padding: 1em;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;

    &.rounded {
        border-radius: 2em;
    }
    &.sm {
        font-size: .75rem;
        padding: .5em 1em;
    }
    &.block {
        display: flex;
    }
}

.hero {
    margin: 3em 0;
    p {
        font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    }
    
}

a {
    text-decoration: none;
    color: $primary;
    padding: .15em;

    &:hover {
        background-color: gold;
        color: black;
    }
}

.highlight {
    background-color: gold;
    color: black;
    padding: .15em;
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.nav {
    display: flex;
    margin: 0 0 3em;
    justify-content: flex-end;
    a {
        padding: 0 1em;
    }
}

::-webkit-scrollbar { 
    display: none; 
}

@media screen and(max-width: $tablet-width)   {
    .hidden-tablet {
        display: none;
    }
}
